.myHeader {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40px;

    .apperButton {
        width: 200px;
        height: 30px;
        margin: 5px 20px;
        background: rgb(180, 121, 12);
        cursor: pointer;
        color: rgb(255, 255, 255);
        outline: none;
        border-radius: 5px;
        border: 0;
        padding: 0;
    }

    .inp {
        outline: none;
        width: 80%;
        height: 30px;
        margin: 5px 20px;
        box-sizing: border-box;
        border: 1px solid #926666;
        box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
        border-radius: .5em;
    }

}
.headerInfo {
    display: flex;
    justify-content: center;
}
.allInfo {
    display: flex;
    align-items: stretch;
    .avarageInformation {
        margin-left: 40px;
        width: 25%;
    }
    .allSalary {
        width: 25%;
    }
    .firedMeneger {
        width: 25%;
    }
    .firedEmployyer {
        width: 25%;
    }
    .totalMoney {
        margin-left: 120px;
        width: 33%;
    }
    .totalBorovedMoney {
        width: 33%;
    }
    .totalBorovedInactiveUsers {
        width: 33%;
    }
}

.cardBlockMain {
    display: flex;
    justify-content: space-around;

    .blockCard {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 20px;
        width: 80%;
        height: 100%;
        background: #FFFFFF;

        .card {
            width: 300px;
            min-height: 200px;
            margin: 0 15px 50px 15px;
            background: #FFFFFF;
            border: 1px solid #E0E0E0;
            box-sizing: border-box;
            box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
            border-radius: 10px;
            text-align: center;

            .cardButton {
                width: 60px;
                height: 30px;
                margin: 5px 20px;
                background: orange;
                cursor: pointer;
                color: rgb(255, 255, 255);
                outline: none;
                border-radius: 5px;
                border: 0;
                padding: 0;
            }

            .cardButtonDelete {
                width: 60px;
                height: 30px;
                margin: 5px 20px;
                background: red;
                cursor: pointer;
                color: rgb(255, 255, 255);
                outline: none;
                border-radius: 5px;
                border: 0;
                padding: 0;
            }

            .allLable {
                font-weight: bold;
                font-style: normal;
                font-size: 24px;
                line-height: 28px;

                color: #000000;
            }

            .infText {
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 16px;
                color: #3f3f3f;
            }
        }
    }
}

.modal {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    &__modalCard {
        width: 80%;
        height: 500px;
        background: white;
        border-radius: 10px 10px 10px 10px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        .applyButton {
            display: flex;
            justify-content: flex-end;
            margin-right: 40px;

            .editeEmploeerButton {
                width: 200px;
                height: 50px;
                margin: 5px 20px;
                background: rgb(180, 121, 12);
                cursor: pointer;
                color: rgb(255, 255, 255);
                outline: none;
                border-radius: 5px;
                border: 0;
                padding: 0;
            }
        }

        .changes {
            margin: 40px 0 40px 0;
            display: flex;

            .check {
                margin: 15px 20px;
                width: 15px;
                height: 15px;
            }

            .inputChanges {
                outline: none;
                width: 80%;
                height: 30px;
                margin: 5px 20px;
                box-sizing: border-box;
                border: 1px solid rgb(180, 121, 12);
                box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
                border-radius: .5em;
            }
        }
    }

    &.active {
        display: flex;
    }
}



.cardBank {
    display: flex;
    justify-content: space-around;

    .blockCardBank {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 20px;
        width: 80%;
        height: 100%;
        background: #FFFFFF;

        .cardBanks {
            width: 300px;
            min-height: 200px;
            margin: 0 15px 50px 15px;
            background: #FFFFFF;
            border: 1px solid #E0E0E0;
            box-sizing: border-box;
            box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
            border-radius: 10px;
            text-align: center;

            .cardButtonBank {
                width: 60px;
                height: 30px;
                margin: 5px 20px;
                background: orange;
                cursor: pointer;
                color: rgb(255, 255, 255);
                outline: none;
                border-radius: 5px;
                border: 0;
                padding: 0;
            }

            .deleteUserButton {
                width: 60px;
                height: 30px;
                margin: 5px 20px;
                background: red;
                cursor: pointer;
                color: rgb(255, 255, 255);
                outline: none;
                border-radius: 5px;
                border: 0;
                padding: 0;
            }

            .allLable {
                font-weight: bold;
                font-style: normal;
                font-size: 24px;
                line-height: 28px;

                color: #000000;
            }

            .infText {
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 16px;
                color: #3f3f3f;
            }
        }
    }
}

.modalBank {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    &__modalCardBank {
        width: 80%;
        height: 500px;
        background: white;
        border-radius: 10px 10px 10px 10px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        .applyButton {
            display: flex;
            justify-content: flex-end;
            margin-right: 40px;

            .editeEmploeerButton {
                width: 200px;
                height: 50px;
                margin: 5px 20px;
                background: rgb(180, 121, 12);
                cursor: pointer;
                color: rgb(255, 255, 255);
                outline: none;
                border-radius: 5px;
                border: 0;
                padding: 0;
            }
        }

        .changes {
            margin: 40px 0 40px 0;
            display: flex;

            .check {
                margin: 15px 20px;
                width: 15px;
                height: 15px;
            }

            .inputChanges {
                outline: none;
                width: 80%;
                height: 30px;
                margin: 5px 20px;
                box-sizing: border-box;
                border: 1px solid rgb(180, 121, 12);
                box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
                border-radius: .5em;
            }
        }
    }

    &.active {
        display: flex;
    }
}